<section class="card-container">
    {{#each todos}}
    <div class="card">
        <div class="card-image">
            <img alt="Imágen de Tarjeta" src="{{imgUrl}}" />
        </div>
        <div class="card-title">
            <h3>{{name}}</h3>
        </div>
    </div>
    {{/each}}
</section>