<section class="card-container">
    {{#each todoss}}
    <div class="card">
        <div class="card-image">
            <img alt="Imágen de Tarjeta" src="{{imgUrl}}" />
        </div>
        <div class="card-title">
            <h2>{{name}}</h2>
        </div>
        <div class="body">
            <p>{{content}}</p>
        </div>
    </div>
    {{/each}}
</section>