<section class="event-section">
                <h2>Próximos Eventos</h2>
                <div class="events upcoming-events">
                    <!-- Eventos próximos -->
                    <article class="event">
                        <div class="event-date">
                            <span class="event-day">05</span>
                            <span class="event-month">May</span>
                        </div>
                        <h3>Campaña De Reciclaje</h3>
                        <p>Organiza un evento de recolección de materiales reciclables, como papel, plástico, vidrio y metales.</p>
                        <p class="event-full-date">05 de mayo de 2024</p>
                    </article>
                    <article class="event">
                        <div class="event-date">
                            <span class="event-day">17</span>
                            <span class="event-month">Jun</span>
                        </div>
                        <h3>Semana de Conciencia del Agua</h3>
                        <p>Charlas y talleres educativos sobre la importancia del agua y cómo conservarla para el cuidado del ambiente.</p>
                        <p class="event-full-date">17 de Junio de 2024</p>
                    </article>
                    <article class="event">
                        <div class="event-date">
                            <span class="event-day">01</span>
                            <span class="event-month">Jul</span>
                        </div>
                        <h3>Exhibición de Documentales Hídricos</h3>
                        <p>Presenta documentales que destaquen la crisis del agua a nivel global y local.</p>
                        <p class="event-full-date">01 de Julio de 2024</p>
                    </article>
                </div>
            </section>