<section class="event-section">
                <h2>Eventos Pasados</h2>
                <div class="events past-events">
                    <article class="event">
                        <div class="event-date">
                            <span class="event-day">02</span>
                            <span class="event-month">Abr</span>
                        </div>
                        <h3>Limpieza Comunitaria</h3>
                        <p>Invitación publica para apoyar en la limpieza ambiental.</p>
                        <p class="event-full-date">02 de abril de 2023</p>
                    </article>
                    <article class="event">
                        <div class="event-date">
                            <span class="event-day">18</span>
                            <span class="event-month">Mar</span>
                        </div>
                        <h3>Jornada de Voluntariado en Proyectos Reforestales</h3>
                        <p>Organiza una jornada de voluntariado para trabajar en proyectos reforestales locales y educar
                            sobre la importancia del cuidado al medio ambiente.</p>
                        <p class="event-full-date">18 de marzo de 2023</p>
                    </article>
                    <article class="event">
                        <div class="event-date">
                            <span class="event-day">09</span>
                            <span class="event-month">Ene</span>
                        </div>
                        <h3>Desafío de Siembra 1 Arbol x Persona</h3>
                        <p>Un desafío mensual para animar a las personas a sembrar 1 arbol al mes en zonas de riesgo.</p>
                        <p class="event-full-date">09 de enero de 2023</p>
                    </article>
                </div>
            </section>