<footer class="footer-distributed">

    <div class="footer-left">
      <h3>Mas de <span>Nosotros</span></h3>

      <p class="footer-links">
        <a href="#">Blog</a>
        |
        <a href="../pages/events.html">Eventos</a>
        |
        <a href="#">Contactenos</a>
        |
        <a href="../pages/preguntas.html">Preguntas Frecuentes</a>
      </p>

      <p class="footer-company-name">Copyright © 2021 Todos los Derechos Reservados</p>
    </div>

    <div class="footer-center">
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>Ciudad</span>
          San Esteban, Olancho</p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>+91 74**9**258</p>
      </div>
      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:sagar00001.co@gmail.com">xyz@gmail.com</a></p>
      </div>
    </div>
    <div class="footer-right">
      <p class="footer-company-about">
        <span>Sobre la empresa</span>
        <strong>Sagar Developer</strong> is a Youtube channel where you can find more creative CSS Animations
        and
        Effects along with
        HTML, JavaScript and Projects using C/C++.
      </p>
      <div class="footer-icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </footer>