<footer class="footer-distributed">

    <div class="footer-left">
      <h3>Más de <span>Nosotros</span></h3>

      <p class="footer-links">
        <a href="../pages/blog.html">Blog</a>
        |
        <a href="../pages/events.html">Eventos</a>
        |
        <a href="../pages/contactenos.html">Contactenos</a>
        |
        <a href="../pages/preguntas.html">Preguntas Frecuentes</a>
      </p>

      <p class="footer-company-name">Copyright © 2024 Todos los Derechos Reservados</p>
    </div>

    <div class="footer-center">
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>Ciudad</span>
          San Esteban, Olancho</p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>Llamanos para cosultar</p>
      </div>
      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="#">Escribenos un correo</a></p>
      </div>
    </div>
    <div class="footer-right">
      <p class="footer-company-about">
        <span>Sobre la empresa</span>
        Una <strong>Empresa Ambiental</strong> desarrolla 
        soluciones sostenibles y tecnologías eco-amigables para proteger el 
        medio ambiente y conservar los recursos naturales.
      </p>
      <div class="footer-icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </footer>