<header>
        <input type="checkbox" id="check">
        <label class="hamburger" for="check">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
        <section class="branding">
            <img src="https://picsum.photos/id/1062/64/64" alt="logo">
            <h1>Bakery</h1>
        </section>
        <nav>
            <ul>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Programas</a></li>
                <li><a href="#">Ayudar</a></li>
                <li><a href="#">Galería</a></li>
            </ul>
        </nav>
    </header>