<header>
    <div class="div_nav">
        <figure class="brand">
            <img class="logo_nav" src="../img/logo_blanco.png" alt="logo">
        </figure>
        <nav class="menu">
            <input type="checkbox" id="menuToggle">
            <label for="menuToggle" class="menu-icon"><img src="../img/menu.png" alt="menu"></label>
            <ul>
                <li><a href="pages/nosotros.html">Nosotros</a></li>
                <li><a href="#">Programas</a></li>
                <li><a href="#">Como Ayudar</a></li>
                <li><a href="#">Galeria Fotos</a></li>
                <li><a href="#">Donar</a></li>
            </ul>
        </nav>
    </div>
</header>