<header>
    <div class="div_nav">
        <figure class="brand">
            <a href="../index.html"><img class="logo_nav" src="../img/logo_blanco.png" alt="logo"></a>
        </figure>
        <nav class="menu">
            <input type="checkbox" id="menuToggle">
            <label for="menuToggle" class="menu-icon"><img src="../img/menu.png" alt="menu"></label>
            <ul>
                <li><a href="../pages/nosotros.html">Nosotros</a></li>
                <li><a href="../pages/programas.html">Programas</a></li>
                <li><a href="../pages/ayudar.html">Como Ayudar</a></li>
                <li><a href="../pages/gallery.html">Galeria Fotos</a></li>
                <li><a href="../pages/donar.html">Donar</a></li>
            </ul>
        </nav>
    </div>
</header>