body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    background-size: cover;
    background-position: center;
    background-image: url("../img/fondo_donar.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*BODY*/
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .container h1{
    font-size: 1.5rem;
    color: #79bde9
}
.container {
    width: 80%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 25px #444;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 25px;
    background-color: #fff;
}

.container .datosMoney {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.container .datosMoney button {
    border: 1px solid #000;
    border-radius: 5px;
    width: 100px;
    padding: 1rem 4rem 1rem 2.5rem;
    margin: 0.5rem;
    border: none;
    transition: all 0.2s ease;
}

.container .datosMoney_2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .datosMoney_2 button {
    border: 1px solid #000;
    border-radius: 5px;
    width: 100px;
    padding: 1rem 5rem 1rem 2.5rem;
    margin: 1rem;
    border: none;
    transition: all 0.2s ease;
}

.container .datosMoney button:hover,
.container .datosMoney_2 button:hover {
    box-shadow: inset 0 0 3px 3px #CECFD1;
}

.container .datosMoney button:focus,
.container .datosMoney_2 button:focus {
    box-shadow: inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.container .datosMoney_2 fieldset {
    border-radius: 5px;
    background-color: #EFF3F5;
    border: none;
}

.container form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.two_colum {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}

.inputBox {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
}

.inputBox input[type="text"],
.inputBox input[type="email"],
.inputBox select,
.inputBox input[type="number"] {
    display: block;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    border: 1px solid #444;
    padding: 0px 10px;
    font-size: 16px;
    color: #444;
}

.container fieldset {
    width: 100%;
}

.inputBox button {
    width: 100%;
    padding: 10px 20px;
    border: none;
    background: #79bde9;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

}

.inputBox button:hover {
    background: #0011FF;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    body {
        background-image: none;
        background-color: #d5d5d5;
    }
    .container {
        width: 95%;
        padding: 20px;
        border-radius: 25px;
        box-shadow: 0px 5px 25px #444;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
    }
}

/* desktop */
@media screen and (min-width: 1700px) {
    body {
        max-width: 1200px;
        margin: 0px auto;
    }
}